* {
    box-sizing: border-box;
    font-size: 15px;
    overflow: hidden;
}
html {
    background-image: url(../img/global-bg.jpg);
    
}
body {
    padding: 0 30px;
}
h1,
p,
strong {
    color: $light-color;
}
h1 {
    font-family: 'lora';
    font-weight: lighter;
    font-size: 3rem;
    letter-spacing: 0.2rem;
}
a,
p,
strong {
    font-family: 'roboto';
}
strong {
    letter-spacing: 0.16em;
}
a {
    text-decoration: none;
    color: $light-color;
    font-size: 13px;
    letter-spacing: 0.065em;
}
.wrapper {
    display: flex;
    max-width: 1320px;
    margin: 30px auto 0px auto;
    justify-content: space-between;
    align-items: flex-start;
} 

@media (max-width: $large)  {
    // 992 .. 1200
    body {
        padding: 0 15px;
    }
    .wrapper {
        flex-wrap: wrap;
        max-width: 1170px;
        
    }
}

@media (max-width: $small) and (min-width: $xsmall + 1) {
    // 576 .. 768
    h1 {
        font-size: 2rem;
        letter-spacing: 0.25rem;
    }
}

@media (max-width: $xsmall) {
    // < 576
    h1 {
        font-size: 1.5rem;
        letter-spacing: 0.25rem;
    }
}