.footer {
    max-width: 1320px;
    margin: 0 auto;
    &-top {
        display: flex;
        margin: -7.5px;
        
        .widget {
            margin: 7.5px;
        }
    }
    &-bottom {
        margin: 15px auto 0 auto;
        max-width: 1320px;
        .widget {
            text-align: center;
            margin-bottom: 30px;
            &-head {
                padding-top: 8px;
                border: none;
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0px;
                    left: calc(50% - 150px); 
                    right: calc(50% - 150px);
                    border-bottom: 1px solid #402d0c;
                }
            }
            &-body {
                letter-spacing: 0em;
            }
        }
    }
}

@media (max-width: $middle) and (min-width: $xsmall + 1) {
    // 768 .. 992
    .footer {
        &-top {
            flex-wrap: wrap;
            .widget {
                flex-basis: calc(50% - 15px);
            }
        }
    }
}

@media (max-width: $xsmall) {
    // < 576
    .footer-top {
        flex-wrap: nowrap;
        flex-direction: column;
    }
}