.main {
    order: 2;
    flex-basis: calc(100% - 220px - 240px);
    padding: 0 30px;
    margin-bottom: 15px;

    &-title {
        h1 {
            font-size: 1.8rem;
            margin: 0 0;
            letter-spacing: 0.13em;
        }
        background: linear-gradient(to right, rgba($dark-color, 0.5), transparent);
        padding: 13px 12px 14px 12px;
        border-radius: 8px;
        margin-top: $gutter;
        margin-bottom: $gutter;
    }

    &-gallery {
        display: flex;
        flex-wrap: wrap;
        margin: -7.75px;
        
        
        &__item {
            flex: 0 0 33.33%;
            padding: 7.5px;
            

            &-wrapper {
                border: 5px solid rgba($dark-color, 0.5) ;
                border-radius: 8px;
                position: relative;
                img {
                    display: block;
                    height: 100%;
                    width: 100%;
                }
            }
            &-title {
                display: block;
                position: absolute;
                top: 0px;
                left: 0px;
                background-color: rgba($dark-color, 0.5);
                height: 30px;
                width: 100%;
                margin: 0;
                padding: 7px;
                font-family: 'roboto';
                font-weight: normal;
                text-align: center;
                color: $light-color;
                font-size: 14px;
                letter-spacing: 0;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                transition-duration: 0.5s;
            }
            &-description {
                position: absolute;
                top: 30px;
                height: calc(100% - 30px);
                text-align: center;
                padding: 15px;
                font-family: 'roboto';
                color: $light-color;
                font-size: 14px;
                letter-spacing: 0;
                line-height: 1.5;
                z-index: -1;
                transition-duration: 0.5s;
            }
            a:hover,
            a:active {
                .main-gallery__item-description {
                    background-color: rgba($dark-color, 0.8);
                    z-index: 1;
                }
                .main-gallery__item-title {
                    background-color: rgba($dark-color, 0.8);
                    color: $main-color-highlighted;
                }
            }
        }
    }

    &-navbar {
        background: linear-gradient(to left, rgba($dark-color, 0.5), transparent);
        padding: 10px 0 10px 0;
        border-radius: 8px;
        
        &__list {
            display: flex;
            justify-content: flex-end;
            margin: 0;
            li {
                list-style: none; 
                margin-right: 20px;
                position: relative;
                a {
                    font-size: 14px;
                    letter-spacing: 0.14em;
                    &:hover,
                    &:active {
                        color: $main-color-highlighted;
                        text-shadow: 2px 2px 5px black;
                    }
                }
               }
            li:not(:first-of-type)::before {
            content: '\25ba'; 
            position: absolute;
            left: -15px;
            top: 3px;
            color: white; 
            font-size: 0.7rem;
            }
            li:not(:last-of-type) {
                font-weight: bold;
            }
            
        }
    }
}

@media (max-width: $large) and (min-width: $middle + 1) {
    // 992 .. 1200
    .main {
        flex-basis: calc(100% - 220px);
        padding: 0 0 0 30px;
    }
}

@media (max-width: $middle) and (min-width: $xsmall + 1) {
    // 768 .. 992
    .main {
        order: 1;
        flex-basis: 100%;
        padding: 0;
        margin-bottom: $gutter;
    }
}

@media (max-width: $small) and (min-width: $xsmall + 1) {
    // 576 .. 768
    .main-gallery__item {
        flex-basis: 50%;
    }
}

@media (max-width: $xsmall) {
    // < 576
    .main {
        order: 1;
        flex-basis: 100%;
        padding: 0;
        margin-bottom: $gutter;
    }
    .main-gallery__item {
        flex-basis: 100%;
    }
}