form {
    max-width: 100%;
    display: flex;
    margin: 5px 0 2px 0;
}
.left-sidebar__search {
    button {
        padding: 4px 7px 4px 7px;
        margin-left: 15px;
        border-radius: 4px 0 0 4px;
        border: 1px solid #8d8360;
        border-right: none;
        background-color: rgba($light-color, 0.1);
        i {
            color: $light-color;
        }
    }
    input {
        font-size: 12px;
        color: $light-color;
        padding: 4px 0px 4px 7px;
        border-radius: 0 4px 4px 0;
        border: 1px solid #8d8360;
        background-color: rgba($light-color, 0.1);
        width: calc(100% - 57px);
        white-space: nowrap;
        text-overflow: ellipsis;
        outline: none;
        &::placeholder {
            color: $light-color;
        }
        &:active {
            border: 1px solid #8d8360;
        }
    }
}