.widget {
    background-color: rgba($dark-color, 0.5);
    border-radius: 7px;
    padding: 8px 0px 10px 0;
    margin-bottom: 15px;
    &-head {
        border-bottom: 1px solid #402d0c;
        color: $light-color;
        font-size: 17px;
        letter-spacing: 0.14em;
        padding: 12px 0px 12px 0px;
        margin: 0 15px 0 15px;
    }
    &-body {
        padding: 12px 0px;
        p {
            line-height: 2;
            font-size: 14px;
            margin: 4px 15px 6px 15px;
        }
    }
    
    
}


.bottom-sidebar {
    order: 4;
    flex-basis: 100%;
}