.left-sidebar {
    order: 1;
    flex-basis: 220px;
    .widget:not(:first-child) {
        margin-top: $gutter / 2;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 5px 15px 5px 15px;
        li {
            position: relative;
            padding: 7px 0;
            transition-duration: 0.5s;
            &:hover,
            &:active {
                background-color: rgba($dark-color, 0.35);
                color: $main-color-highlighted;
                text-shadow: 2px 2px 5px black;
                border-radius: 4px;
                a {
                    transform: translateX(7px);
                    color: $main-color-highlighted;
                }
            }
        }
        a {
            font-size: 14px;
            letter-spacing: 0em;
            display: block;
            height: 100%;
            transition-duration: 0.5s;
        }
    }
    &__search {
        button {
            padding: 4px 7px 4px 7px;
            margin-left: 15px;
            border-radius: 4px 0 0 4px;
            border: 1px solid #8d8360;
            border-right: none;
            background-color: rgba($light-color, 0.1);
            i {
                color: $light-color;
            }
        }
        input {
            font-size: 12px;
            color: $light-color;
            padding: 4px 0px 4px 7px;
            border-radius: 0 4px 4px 0;
            border: 1px solid #8d8360;
            background-color: rgba($light-color, 0.1);
            &::placeholder {
                color: $light-color;
            }
        }
    }
}


@media (max-width: $middle) and (min-width: $xsmall + 1) {
    // 768 .. 992
    .left-sidebar {
        order: 2;
        flex-basis: 50%;
        margin-right: 7.5px;
        max-width: calc(50% - 7.5px);
    }
}

@media (max-width: $xsmall) {
    // < 576
    .left-sidebar {
        order: 2;
        flex-basis: 100%;
    }
}