.left-sidebar {
    order: 1;
    flex-basis: 220px;
    .widget:not(:first-child) {
        margin-top: $gutter / 2;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 5px 15px 5px 15px;
        li {
            position: relative;
            padding: 7px 0;
            transition-duration: 0.5s;
            &:hover,
            &:active {
                background-color: rgba($dark-color, 0.35);
                border-radius: 4px;
                padding-left: 7px;
                a {
                    color: $main-color-highlighted;
                    text-shadow: 2px 2px 5px black;
                }
            }
        }
        a {
            font-size: 14px;
            letter-spacing: 0em;
            display: block;
            height: 100%;
            transition-duration: 0.5s;
        }
    }
}


@media (max-width: $middle) and (min-width: $xsmall + 1) {
    // 768 .. 992
    .left-sidebar {
        order: 2;
        flex-basis: 50%;
        margin-right: 7.5px;
        max-width: calc(50% - 7.5px);
    }
}

@media (max-width: $xsmall) {
    // < 576
    .left-sidebar {
        order: 2;
        flex-basis: 100%;
    }
}