.right-sidebar {
    flex-basis: 240px;
    order: 3;
    margin-left: $gutter;
    &__article {
        display: flex;
        flex-wrap: wrap;
        &-title {
            flex-basis: 100%;
            font-size: 14px;
            font-family: 'roboto';
            letter-spacing: 0.07em;
            margin: 8px 0 12px 0;
            // font-weight: 100;
            color: $light-color;
        }
        &-image {
            flex-basis: 75px;
            border-radius: 4px;
            margin-bottom: 3px;
            img {
                max-width: 100%;
            }
        }
        &-description {
            font-size: 12px;
            margin-left: 10px;
            flex-basis: calc(100% - 75px - 10px);
            margin: 0;
            margin-left: 10px;
            line-height: 1.6;
        }
    }
}